.promo {
    background-color: var(--mainGreen);
}

.promo__content {
    display: flex;
    column-gap: 193px;
}

.promo__text {
    color: var(--white);
    padding-top: 275px;
}

.promo__title {
    font-size: 48px;
    max-width: 507px;
}

.promo__small-title {
    font-size: 24px;
}

.promo__img {
    padding-top: 163px;
    padding-bottom: 163px;
}