:root {
    --mainGreen: #36B05B;
    --white: #FFF;
    --lightGrey: #EBEBEB;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
}