.footer {
    background-color: var(--mainGreen);
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-size: 24px;
    color: var(--white);
}

.address {
    padding-top: 120px;
}

.contacts {
    padding-top: 100px;
    padding-bottom: 100px;
}